@font-face {
  font-family: "ostrich sans";
  src: url('ostrich-sans-master/OstrichSans-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "ostrich sans";
  src: url('ostrich-sans-master/OstrichSans-Light.otf');
  font-weight: lighter;
}

body {
  background-color: #7EA8CA;
  text-align: center;
  font-family: "ostrich sans";
  font-weight: lighter;
}

.title {
  background-color: #4682b4;
  height: 7em;
  width: 100%;
  display: table;
}

.app-name {
  display: table-cell;
  vertical-align: middle;
  font-size: 6em;
  color: #ffffff;
  font-family: "ostrich sans";
  font-weight: lighter;
}

.bold {
  font-family: "ostrich sans";
  font-weight: bold;
  font-size: 0.9em;
  color: #E8E819;
}

.city-finder {
  margin-top: 2em;
}

.form-edge {
  display: inline-block;
  width: 15%;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.form-label {
  margin-right: 10%;
  color: #ffffff;
}

.typical {
  border: none;
  background-color: #d8e5ef;
  border-radius: 3px;
  margin: 4px 0;
}

.button {
  display: none;
}

.box {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
}

.chart {
  margin: 0 10px 0;
}

.chart-container {
  margin-bottom: 3%;
}

.error {
  padding: 0 3px 0;
}
.wrong {
  color: #cc0000;
}