<h3>NPR Stations Around <%= "#{@user_city.city}, #{@user_city.state}" %>:</h3>
<ul>
  <% @user_city.stations.each do |s| %>
    <li><p><%= s.name %>: </p>
    	<ul>
    	<% s.stories.each do |story| %>
    		<li><%= story.grade_level %></li>
		<% end %>
    	</ul>
    </li>
  <% end %>
</ul>