  <h3>NPR Stations Around <%= "#{@user_city.city.capitalize}, #{@user_city.state.capitalize}" %>:</h3>
  <div id="sortable" class="chart-container">
    <% @user_city.stations.each do |s| %>
      <% if s.stories.length > 0 %>
        <div class="chart box" data-name="<%= s.name %>" data-grades="<%= s.find_grades %>" data-word-counts="<%= s.find_word_counts %>"></div>
      <% end %>
    <% end %>
  </div>