<form class="city-finder" action="/city" method="post">
  <input type="text" name="city" placeholder="Your City"><br/>
  <input type="text" name="state" placeholder="And State"><br/>
  <input type="submit" value="Find local NPR stations">
</form>

<div class="container">
</div>
