<form action="/city" method="post">
  <input type="text" name="city" placeholder="Your City">
  <input type="text" name="state" placeholder="And State">
  <input type="submit" value="Find local NPR stations">
</form>